# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
FavZen.spec

# Virtual environments
venv/
env/
.env/

# Editor files
.vscode/
.idea/

# Database and cache
favzen.db
cache/favicons/

# OS files
.DS_Store